.SelectMenu{
    width: 90%;
    margin: auto;
    background-color: #8DB02E;
    border-radius: 8px 8px 0 0;
    
    &__btn{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px;
        color: #FFF;
        box-shadow: 0px 6px 5px #759325;

        cursor: pointer;

        span{
            font-size: 1.5rem;
            font-weight: 600;
        }

        i{
            font-size: 2rem;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__options{
        

        &__option{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color: #F7F4F4;
            border-radius: 8px;
            margin: 22px 10px;
            padding: 12px;
            box-sizing: border-box;

            img{
                width: 180px;
                padding: 10px;
            }

            h2{
                font-size: 1.35rem;
                font-weight: 600;
                margin: 10px 0;

                strong{
                    color: #BBAB7E;
                }
            }
            
            &__info{
                

                p{
                    font-size: 0.8rem;
                    margin: 12px 0;
                }

                &__Buy{
                    display: flex;
                    flex-direction: column;   
                    text-align: right;         
                    
                    span{
                        font-weight: 600;
                        font-size: 1.25rem;
                    }

                    button{
                        background-color: #000;
                        border-radius: 6px;
                        color: #fff;
                        font-weight: 600;
                        padding: 12px;
                    }
                }   
            }
        }
    }
}