.ButtonAdding{
    position: fixed;
    color: #FFF;
    background-color: #6ff71b;
    font-size: 2.5rem;
    padding: 10px;
    border-radius: 50%;
    bottom: 20px;
    right: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;

    z-index: 5;
}