.Footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #8DB02E;
    color: #FFF;
    padding: 8px;
    margin-top: 1.4rem;

    &__SocialMidia{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
  
        margin: 20px 0;
        border-bottom: 2px solid #fff;

        span{
            padding: 0 10px;
            font-size: 2.25rem;
            cursor: pointer;

            a{
                color: #FFF;
            }

            &:hover{
                transition: all 0.2s ease-in-out;
                color: rgb(217, 217, 217);
            }
        }
    }

    p{
        font-weight: 600;
        padding: 8px;
    }
}